<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>%domain%</title>
  <style>
    body {
      color: #232020;
      font-size: 13px;
      font-family: Verdana;
    }
    .container {
      margin: 20vh auto 0;
      max-width: 600px;
    }
    .heading {
      color: cornflowerblue;
    }
    .info {
      color: lightgray;
      font-size: 0.8rem;
    }
    .heading,.info {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="heading">%domain%</h1>
    <div class="info">Not configured</div>
  </div>
</body>
</html>